@charset "utf-8";


/* notosansKR */
@font-face {
    font-family: 'ntk';
    src: url('../font/NotoSansKR-Light.eot');
    src: url('../font/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR-Light.woff2') format('woff2'),
        url('../font/NotoSansKR-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'ntk';
    src: url('../font/NotoSansKR-Regular.eot');
    src: url('../font/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR-Regular.woff2') format('woff2'),
        url('../font/NotoSansKR-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'ntk';
    src: url('../font/NotoSansKR-Bold.eot');
    src: url('../font/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR-Bold.woff2') format('woff2'),
        url('../font/NotoSansKR-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


